In [1]:
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
x_height = df["Height"]
y_weight = df["Weight"]

m = len(df["Height"])

X = np.zeros((m, 2))

X[: ,0] = 1
X[: ,1] = x_height

In [7]:
y_weight_nump = np.array(y_weight)
theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y_weight)

In [8]:
theta

array([-350.73719181,    7.71728764])